html {
  box-sizing: border-box;
  background-color: #f2f2f2;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

div img {
  margin: 0 auto 1.5rem;
  width: 100px;
}

.books {
  display: flex;
  padding: 0 1.5em;
}

.books div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .75em;
  width: 25%;
}

.g1 {
  background-color: #e2e2e2;
}

.g2 {
  background-color: #ccc;
}

.g3 {
  background-color: #aaa;
}

.g4 {
  background-color: #999;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: .75em;
  margin-bottom: .75em;
}

p {
  flex-grow: 1;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: .875rem;
  font-style: italic;
  font-weight: normal;
}

a {
  color: #fff;
  background-color: #333;
}

.btn {
  display: inline-block;
  padding: .4em .75em .3em;
  text-decoration: none;
  border-style: solid;
  border-color: #333;
  color: white;
  font-size: 1.125rem;
  border-radius: 8px;
  border-width: 3.2px;
}

.btn:hover {
  background-color: #333;
}

.btn-small {
  font-size: .875rem;
}
